# Configurações do Unleash
UNLEASH_URL=http://localhost:4242/api
UNLEASH_APP_NAME=feature-flag-backend
UNLEASH_ENVIRONMENT=development

# Configurações da aplicação
PORT=3000
NODE_ENV=development
